
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}

        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
        <link rel="shortcut icon" type="image/ico" href="{% static '/image/favicon.ico' %}" >
        
        
    </head>
    <body>
        <div class="container navbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/matriz/' %} active {% endif %}" href="{% url 'matriz' %}">Matriz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/historico/' %} active {% endif %} disabled" href="{% url 'historico' %}">Historico</a>
                </li>
            </ul>
        </div>       

        {% block content %} 
                
        {% endblock %}        
        
 
</body>
</html>