{% extends "matriz/_base.html" %}

{% block title %} Matriz 

{% endblock %}




{% block content %}

<form action="/matriz/matriz/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Generar">
</form>

    <table class="table table-align-middle text-center w-auto">
        {% for rowval in m %}    
           <tr>
                {% for val in rowval %}
                <td>{{val}}</td>
                {% endfor %} 
            </tr>
        {% endfor %}
        
    </table> 
{% endblock %}