{% extends "matriz/_base.html" %}

{% block title %} Matriz

{% endblock %}

{% block content %}
<div class="container">
            <form action="/matriz/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Generar" class="btn btn-dark btn-sm">
            </form>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div>
                <table class="table table-borderless">
                    {% for rowval in m %}
                    <tr>
                        {% for val in rowval %}
                        <td>{{val}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}